name: Publish to Docker Hub & Github Packages

on:
    push:
        branches: ["master"]
    pull_request:
        branches: ["master"]
    schedule:
        - cron: "0 0 * * 1"

env:
    IMAGE_NAME: jeremy-faton/psysh

jobs:
    docker-hub:
        runs-on: ubuntu-latest
        strategy:
            matrix:
                version: ['8.1', '8.2', '8.3', '8.4']
        steps:
            - name: Checkout repository
              uses: actions/checkout@v3

            - name: Set up Docker Buildx
              uses: docker/setup-buildx-action@v2
              with:
                  platforms: linux/amd64, linux/arm64

            - name: Login to Docker Hub
              if: github.event_name != 'pull_request'
              uses: docker/login-action@v2
              with:
                  username: ${{ secrets.DOCKERHUB_USERNAME }}
                  password: ${{ secrets.DOCKERHUB_TOKEN }}

            - name: Build and push
              uses: docker/build-push-action@v3
              with:
                  push: ${{ github.event_name != 'pull_request' }}
                  build-args: PHP_VERSION=${{ matrix.version }}
                  tags: jeremyfaton/psysh:${{ matrix.version }}
                  platforms: linux/amd64, linux/arm64
